<!DOCTYPE html>
<html>
  <?- include('../partials/head') -?>
  <body>
    <?- include('../partials/header') -?>
    <?- include('../partials/nav') -?>
    <div class="container" style="padding: 100px 0">
      <div class="text-center" style="margin-bottom: 100px">
        <img src="https://placehold.co/600x400" class="img-fluid" alt="..." />
      </div>
      <h1 class="text-center">Hello</h1>
      <div class="text-center my-3">Your Name Prachot Chaimontree</div>
      <div class="text-center">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus libero
          maiores, accusantium odio consectetur repudiandae. Nihil quaerat fuga
          eos enim, corrupti, sunt tempora quisquam ut autem quae dolore minima
          dolorum maiores delectus. Quod, itaque asperiores qui ratione, ipsam
          veniam dolores, quasi repudiandae consectetur quisquam sed quae iure
          eaque excepturi sequi porro enim? Praesentium veniam placeat sunt
          perferendis expedita, iure asperiores fugiat deserunt quam atque
          consequuntur accusantium modi unde similique, dolorem officiis,
          tempora reprehenderit tempore sed? Accusantium iste reprehenderit
          maxime asperiores, nisi facilis beatae unde eligendi. Magnam aperiam
          doloribus necessitatibus dolore nam incidunt exercitationem rem? Quos
          molestias enim exercitationem sint aliquam!
        </p>
      </div>
      <div class="text-center"></div>
    </div>
    <?- include('../partials/footer') -?>
  </body>
</html>
